body {
  text-align: center;
  padding-top: 150px;
}

input {
  width: 180px;
  height: 30px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  width: 60px;
  margin-bottom: 5px;
  background-color: #5bc0de;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1cb2e0;
}
